:root {
  --font-transitional:
    "Alike", Charter, Bitstream Charter, Sitka Text, Cambria, serif;
  --font-family-body: var(--font-transitional);
}

body {
  font-family:
    "Alike",
    Charter,
    Bitstream Charter,
    Sitka Text,
    Cambria,
    serif;
}
